

body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('imagem_de_fundo_index.jpg');
    background-size: cover;
    background-position: center;
}

button {
    display:inline-block;
    padding:0.5em 3em;
    border:0.16em solid #FFFFFF;
    margin:0 0.3em 0.3em 0;
    box-sizing: border-box;
    text-decoration:none;
    text-transform:uppercase;
    font-family:'Roboto',sans-serif;
    font-weight:400;
    color:#FFFFFF;
    text-align:center;
    transition: all 0.15s;
}

button:hover {
    background-color: #0056b3;
}
